@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">  
        <a  class="nav-link text-light fw-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>
    </li>
    <li class="mx-1 nav-item">
        <form asp-controller="Proforma" asp-action="Index">
            <button type="submit" class="btn btn-plomo">
                <i class="bi bi-cart"></i>
            </button>    
        </form>
    </li>
    <partial name="_MenuAdminPartial" />   
    <li class="mx-1 nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="btn btn-danger">
                <i class="bi bi-box-arrow-in-right"></i>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white btn btn-marron" asp-area="Identity" asp-page="/Account/Register">Regístrate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Inicia Sesión</a>
    </li>
}
</ul>