@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <!--<div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/oxapampa.webp" class="d-block w-100" alt="...">
      <div class="d-flex align-items-center carousel-caption d-none d-md-block">
        <h1 class="text-light display-1">AMYRA</h1>
      </div>
    </div>-->
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="/img/lamedia-producto-comida-chocolate-amyra-9.webp" class="d-block w-100" alt="...">
      <div class="d-flex align-items-center carousel-caption d-none d-md-block">
        <h1 class="text-light display-3">CHOCOLATE PERUANO</h1>
      </div>
    </div>  
    <div class="carousel-item" data-bs-interval="10000">
      <img src="/img/lamedia-producto-comida-chocolate-amyra-4.webp" class="d-block w-100" alt="...">
      <div class="d-flex align-items-center carousel-caption d-none d-md-block">
        <h1 class="text-light display-3">100% DE CALIDAD</h1>
      </div>
    </div>      
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
    <h1 class="text-center text-dark pt-5">Inicia tu Travesía de Sabor</h1>
    <div class="row">
        <div class="col p-5">
           <img src="/img/Engriete.webp" class="d-block w-100" alt="...">
        </div>
        <div class="col p-5">
            <img src="/img/Website_Aprende.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <div class="row">
        <div class="col p-5">
            <img src="/img/Website_Comparte.webp" class="d-block w-100" alt="...">
        </div>
        <div class="col p-5">
            <img src="/img/Website_Conocenos.webp" class="d-block w-100" alt="...">
        </div>
    </div>
    <div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-10 col-xl-8">
      <div class="square-big">
        <h2 class="title-big">Nuestros valores</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="square">
              <h3>Nativo</h3>
              <img src="https://w7.pngwing.com/pngs/146/198/png-transparent-shake-hands-organization-partnership-business-company-service-shake-hands-angle-hand-people.png" alt="Imagen de apretón de manos" style="width: 30%; max-width: 150px;">
              <p>Contribuimos al desarrollo sostenible de comunidades agrícolas y adoptamos su herencia cultural.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="square">
              <h3>Artesanal</h3>
              <img src="https://w7.pngwing.com/pngs/322/737/png-transparent-bakery-cook-cooking-kitchen-kitchenware-rolling-pin-tool-kitchenware-solid-cookery-icon-thumbnail.png" alt="Icono de rodillo de cocina" style="width: 30%; max-width: 150px;">
              <p>Empleamos técnicas de elaboración tradicionales para conservar los aromas auténticos del cacao.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="square">
              <h3>Natural</h3>
              <img src="https://w7.pngwing.com/pngs/160/407/png-transparent-computer-icons-leaf-black-leaf-leaf-monochrome-black-thumbnail.png" alt="Icono de hoja" style="width: 30%; max-width: 150px;">
              <p>Promovemos la salud de nuestra gente, a través del consumo de chocolates con aporte nutricional real.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    background-color: #f7e6d2;
  }

  .square {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
  }

  .square h3 {
    color: #6b3707;
  }

  .square-big {
    background-color: rgba(241, 210, 171, 0.8);
    padding: 20px 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
    max-width: 1200px;
  }

  .title-big {
    color: #6b3707;
    font-size: 48px;
    font-weight: bold;
  }
</style>

</div>    


