@model Amyra.DTO.TipoCambioDTO

@{
    ViewData["Title"] = "TipoCambio";
}

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .text-center {
        text-align: center;
    }

    .mb-4 {
        margin-bottom: 40px;
    }

    .row {
        display: flex;
        justify-content: center;
    }

    .col-md-6 {
        width: 50%;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #4d3319;
        border-radius: 4px;
        transition: border-color 0.3s;
    }

    .form-control:focus {
        outline: none;
        border-color: #000;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000;
    }

    a {
        color: #000;
        text-decoration: none;
    }
</style>

<div class="container">
    <h1 class="text-center mb-4">Formulario de Tipo Cambio</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-controller="TipoCambio" asp-action="Exchange" method="post">
                <div class="form-group">
                    <label asp-for="From" class="control-label"></label>
                    <input asp-for="From" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="To" class="control-label"></label>
                    <input asp-for="To" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Cantidad" class="control-label"></label>
                    <input asp-for="Cantidad" class="form-control" />
                </div>                
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Exchange</button>
                </div>
            </form>
            <div class="text-center">
                <h1>Tipo Cambio: <span style="color: #007bff;">@ViewData["rate"]</span></h1>
                <h1>Cambio Total: <span style="color: #007bff;">@ViewData["cambio"]</span></h1>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
