html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header{
background: #351D1B;

}
#marron {
  color:#964b00;
} 
.bg-principal{
  background-color: #341f1c!important;
}
.btn-marron {
  background-color: #EAB465;
  color:#FFFFFF;
  border-color: #EAB465;
  display: inline-block;
  
}

.btn-plomo {
  background-color: #767676;
  color:#FFFFFF;
  display: inline-block;
  
}

.girar:hover{
  -webkit-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -o-transform:scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}



.fondo{
  background-color: #F9E9D1;
  
  }