@{
    ViewData["Title"] = "Mision y Vision";
}
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
             <img src="https://amyra.pe/wp-content/uploads/2023/03/Leyenda-Amyra.png" class="girar">
             <h1 class="text-center">Semillas de Amor</h1>
            
            <div class="card-body text-justify" id="marron">
              <p class="card-text" >Cuenta una leyenda que existió una bella princesa nativa, de largos cabellos y hermosos ojos, a quien pusieron de nombre AMYRA.</p>
           		<p>Ella se enamoró profundamente de un valiente guerrero, quien renunció a todo para defender a su pueblo en tierras lejanas.</p>
				<p>AMYRA extrañaba tanto a su amado que cada noche, suspiraba a escondidas, esperando su regreso, cerca a un árbol en las afueras de su aldea.</p>
				<p>Su tristeza era tan grande y le brotaban lágrimas que humedecían la tierra, llegando hasta las raíces más profundas de aquel árbol.</p>
				<p>Y mirando a la Luna, pedía siempre el mismo deseo: “Qué mi amado, retorne a mí con bien!”</p>
				<p>La Madre Tierra, conmovida de verla, decidió darle un preciado regalo para ayudarle a transformar su trsiteza en Amor.</p>
				<p>De aquel árbol que cobijó sus penas, brotó un fruto, del cual AMYRA bebería un elixir sagrado para llenar su corazón de calidez, alegría y esperanza de que su amado retornaría a sus brazos sano y victorioso.</p>
				<p>Así fue… La princesa AMYRA volvió a sonreír y a soñar. Tanto era el amor que brotaba de su corazón, que iluminó el regreso de su amado a casa.</p>
				<p>Finalmente, pudieron reencontrarse para sellar su anhelada unión.</p>
				<p>En agradecimiento a la Madre Tierra, la feliz pareja decidió convertirse en Semilla de Amor y compartir con las aldeas del mundo este sagrado fruto, al cual llamaron CACAO.</p>
				<p>Y así podrían irradiar luz, amor y fé a todo aquel que quisiera sanar su corazón.</p>       
        	</div>
    	 </div>
	</div>
</div>
<br>